# Binaries and build artifacts
/bin/
/.artifacts/
/data/
/dist/
/tmp/
node_modules/
coverage*
*.log

# Local env and tools
.env
.mise
.mise-local.*
.DS_Store

/farm-manager
__debug_bin*
/qdrant_storage/
